---
import Layout from '../layouts/Layout.astro'
---
<Layout title="About page">
	<h1 class="text-4xl text-red-500">About page</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, rerum!</p>
</Layout>