---
import Layout from '../layouts/Layout.astro'
//components
import Hero from "../components/Hero.astro";
import More from "../components/More.astro";
import Features from '../components/Features.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';

---
<Layout title="Home">
	<h1>home page</h1>

	<Features/>
	<More/>
	<Hero/>
	<Projects/>
	<About/>
</Layout>


