---
import bgimage from '../images/img_enginering.svg'
---
<header class="bg-zinc-900 flex p-20 gap-3 text-center md:text-left flex-col md:flex-row rounded-xl">
    <div class="flex gap-4 flex-col items-start">
        <h1 class="text-5xl font-bold pb-2 ">Hero</h1>
        <p class="pb-2 text-2xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, eaque?
        </p>
        <button class="bg-indigo-500 hover:bg-indigo-400 p-2">Start Now</button>
    </div>
<img src={bgimage} class="w-80" alt="" srcset="">
</header>